.navbar-container {
    position: fixed;
    display: flex;
    background-color: rgb(24, 24, 25);
    border-bottom: 1px solid rgb(128, 128, 128);
    padding: 0px 20px;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

.navbar-buttons-container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.form-input {
    margin-bottom: 10px;
}
