.default-post-container {
    display: flex;
    cursor: pointer;
    background-color: rgb(24, 24, 25);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 598px;
}

.topic-container {
    display: flex;
    padding: 48px 24px 20px 24px;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.topic-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px 0px 24px;
}

.topic-description {
    display: flex;
    margin: 15px 0px 0px 24px;
}
